<html>
    <head>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
    <div class="flexbox-container">
        <div class="row">
            <div class="photo">
                <img src="static/images/herself.jpg"; width="80%">
            </div>
            <div class="wrapper">
                <h1>Deep Dickinson</h1>
                <h3>Deep-learning for Emily Dickinson poems</h3>
                <p>{{poem}}</p>
                <p>(sorry about this - <a href='http://www.twitter.com/simoncarryer'>@simoncarryer)</a></p>
            </div>
            <div class="wrapper">
            </div>
        </div>
    </div>
    </body>
</html>